html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  font-weight: bold;
  font-size: 400%;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  align-items: center;
}
nav {
  margin: 4em;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: block;
  padding: 11px 17px;
  position: relative;
}

ul li a:hover:before,
ul li a:hover:after {
  transform: scaleX(1);
}
ul li a:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

main {
  display: flex;
  gap: 9em;
  margin-top: 11em;
}

.left-col {
  width: 45%;
}

.right-col {
  flex-grow: 1;
}

h1 {
  font-size: 5.2rem;
  font-family: "Playfair Display";
  font-weight: normal;
  margin: 0;
}

.subhead {
  font-size: 1.8rem;
}

.cta-btns {
  margin: 5em 0;
}

.cta-btns,
.secondary-cta {
  display: flex;
  gap: 2em;
}

.primary-cta {
  background-color: #f1e2d1;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 1.9em;
  padding: 1em 2em;
}

.primary-cta:hover {
  cursor: pointer;
}
.secondary-cta {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em 0;
}

.secondary-cta svg {
  width: 20px;
}

.news {
  display: flex;
  gap: 3em;
  padding: 5em;
  border: 1px solid black;
  border-radius: 0.8em;
  position: relative;
}

.news:before {
  position: absolute;
  content: "";
  background: url(images/confetti.svg);
  width: 100px;
  height: 100px;
  top: -20px;
  left: -20px;
  z-index: 2;
}

p.employees {
  font-size: 3.3rem;
  margin: 0;
  font-weight: 200;
  line-height: 100%;
}

p.details {
  font-size: 1.4rem;
  margin: 0;
}

/*Right column gallery */

.right-col {
  display: grid;
  gap: 2.3em;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "left ."
    "left .";
}

.card {
  border-radius: 0.8em;
  padding: 1.1em;
  display: flex;
  align-items: end;
  background-size: 40%;
}

.card1 {
  grid-area: left;
  background-image: url(https://images.unsplash.com/photo-1565299999261-28ba859019bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw1MTg0MDUwOHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 108%;
}

.card1:before {
  position: absolute;
  content: "";
  background: url(images/tag.svg) no-repeat;
  width: 100%;
  height: 100%;
  top: -20px;
  left: -90px;
  pointer-events: none;
}

.card2 {
  background-image: url(https://images.unsplash.com/photo-1533603531139-2c4d04df8f16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

.card3 {
  background-image: url(images/clothing3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

.card-details {
  background: #fff;
  border-radius: 0.6em;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-details a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card-details p {
  font-size: 1.4rem;
  margin: 0;
}

p.product-price {
  font-size: 1.8rem;
}

.footerwrapper {
  position: relative;
  right: -50%;
}

.footerwrapper p {
  font-size: 1.5rem;
  position: absolute;
  font-family: "Poppins";
  top: 100px;
}
